extends layout

block content
  h1 Monster Instance: #{monsterinstance.Name}
  
  p #[Strong Age:] #{monsterinstance.Age}
  p #[Strong Species: ] 
    a(href=monsterinstance.Species.url) #{monsterinstance.Species.Name}
  hr
  p
    a(href=monsterinstance.url+'/delete') Delete monsterinstance
